<div class="container-fluid header-main">
    <mat-toolbar>
        <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button> -->
        <button mat-button color="accent"><a class="nav-link text-uppercase" routerLink="/">Store App</a></button>
        <span class="example-spacer mx-2">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active text-primary" routerLink="/counter">Counter-Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-primary" routerLink="/posts">Posts-Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-primary" routerLink="/posts/add">Add-Posts-Page</a>
                </li>
            </ul>
        </span>
        <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button> -->
    </mat-toolbar>
</div>