<div class="row">
    <div class="col-md-6 offset-md-3">
        <mat-card>
            <mat-card-content>
                <h3>Sign Up</h3>
                <p>Please enter the required details to sign up!!</p>
                <hr />
                <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
                        <mat-error
                            *ngIf="signUpForm.get('email')?.hasError('email') && !signUpForm.get('email')?.hasError('required')">
                            Please enter a valid Email
                        </mat-error>
                        <mat-error *ngIf="signUpForm.get('email')?.hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Password</mat-label>
                        <input type="password" matInput placeholder="Enter password" formControlName="password">
                        <mat-error
                            *ngIf="signUpForm.get('password')?.hasError('password') && !signUpForm.get('password')?.hasError('required')">
                            Please the Password
                        </mat-error>
                        <mat-error *ngIf="signUpForm.get('password')?.hasError('required')">
                            Password is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <div>
                        <button mat-raised-button type="submit" [disabled]="!signUpForm.valid" color="primary">Sign
                            Up</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>