<div class="row">
    <div class="col-md-12">
        <h3>Add Post</h3>
        <hr />
        <form class="example-form" class="d-flex flex-column" [formGroup]="postForm" (ngSubmit)="onAddPost()">
            <!-- <mat-error *ngIf="postForm.get('description')?.invalid && postForm.get('title')?.invalid">Description is <strong>required</strong></mat-error> -->
            <mat-form-field class="example-full-width">
                <mat-label>Title</mat-label>
                <input type="text" matInput formControlName="title">
                <mat-error *ngIf="postForm.get('title')?.hasError('title') && !postForm.get('title')?.hasError('required')">
                    Please enter a valid title
                  </mat-error>
                  <mat-error *ngIf="postForm.get('title')?.hasError('required')">
                    Title is <strong>required</strong>
                  </mat-error>
                <!-- <mat-error *ngIf="postForm.get('title')?.touched && !postForm.get('title')?.valid">
                    Please enter a valid Title
                </mat-error> -->
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description"></textarea>
                <mat-error *ngIf="postForm.get('description')?.hasError('title') && !postForm.get('description')?.hasError('required')">
                    Please enter a valid Description
                  </mat-error>
                  <mat-error *ngIf="postForm.get('description')?.hasError('required')">
                   Description is <strong>required</strong>
                  </mat-error>
            </mat-form-field>
            <div><button mat-raised-button [disabled]="(!postForm.valid)" color="accent" type="submit">Add Post</button></div>
        </form>
    </div>
</div>